/*** Styles ***/

body {
	margin: 0px;
}

.stage {
	height: 100vh;
	width: 100vw;
	background-image: url('stage.jpg');
	background-size: cover;
	position: relative;
}

.character {
	height: 300px;
	width: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

#hamilton {
	background-image: url('hamilton.png');
	position: absolute;
	top: 30%;
}

.soundcloud {
	position: absolute;
	height: 100px;
	width: 200px;
	right: 10px;
	top: 10px;
}
